{% extends 'base.html' %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Profile</h1>
            <p class="lead text-muted">Access your profile information<br>and character collection here.</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container col-12">
        <h2 style="color:black; text-align: left;">Profile Information</h2>
        <div class="row shadow-sm">
            <div class="col-sm-5">
                <img class="card-img" src="../../static/images/profile_pic.svg" alt="Profile Picture"
                    style="padding:20px" ;>
            </div>
            <div class="col-sm-7">
                <div class="card-body" style="text-align: left">
                    <h4 class="card-title" style="color: black">{{ current_user.name }}</h5>
                        <p class="card-text" style="color: black; overflow-wrap: break-word; word-wrap: break-word;">
                            <br><strong>Email:</strong><br>{{ current_user.email }}<br>
                            <strong>Token:</strong><br>{{current_user.token }}
                        </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-12" style="margin-top: 50px;">
        <h2 style="color:black; text-align: left; margin-bottom: 25px">My Collection</h2>
        <div class="row shadow-sm" style="color:black">
            {% for char in entries %}
            <div class="col-sm-4">
                <h2>{{ char.name }}</h2>
                <p><strong>Description: </strong>{{ char.description }}</p>
                <p><strong># of Comics Appeared In: </strong>{{ char.comics_appeared_in }}</p>
                <p><strong>Super Power: </strong>{{ char.super_power }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}